$def with (facets, user_pref)

$var title = 'VEXSearch '
$var mode = 'front_page'

<!-- We need to wrap with position: relative due to a bug in Rose Chart -->
<div  style="text-align: center" class="content">
<a href="/"><img src="/img/logo-medium.png" alt="VEXSearch"></a>

<div style="padding-top: 40px" class="search_form">
<form method="get" action="/search">
    <div class="search_entry">
        <input type="text" name="q" autocomplete="off">
    </div>
    <input style="margin-left: -75px" type="submit" value="search" class="submit">
</form>
</div>


$ facets = sort_facets(facets, config.ui_facets)

<div class="facets">
<div class="col_left">
$for facet in facets:
    $if loop.odd:
        $:view.facets.layout(facet, user_pref, animate=True)
</div>
<div class="col_right">
$for facet in facets:
    $if loop.even:
        $:view.facets.layout(facet, user_pref, animate=True)
</div>
</div>
</div>
